img{
  length:1000px;
  width:1000px;
}
h4{
  padding-top:70px;
}
h1{
  font-family:Edwardian Script ITC;
  color:gray;
}
body{
  background:https://payablaw.files.wordpress.com/2014/12/vacation-time.jpg;
}
